@font-face {
  font-family: "Ledgewood";
  src: url("../fonts/Ledgewood.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Ledgewood.ttf") format("truetype");
  src: url("../fonts/Ledgewood.woff") format("woff"); }
@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/Open-Sans-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  src: url("../fonts/OpenSans-Light.woff") format("woff"); }
body main button, body main .product-grid .product-item button, body main .product-grid .product-item .product-form input[type=submit], body main .product-detail .product-detail-text button, body main .categories .category-list .category-item .update input[type=submit], body main .categories .category-list .category-item .delete, body main .full-form input[type=submit], body footer button {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 1rem 2rem;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #634C29;
  color: #FCDFB3;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 50ms ease; }

.slideOutRight, .fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

* {
  box-sizing: border-box; }

body {
  background-color: #FCDFB3;
  color: #634C29;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  text-align: center; }
  body header {
    background-color: #FCDFB3;
    padding: 36px;
    padding-bottom: 0; }
    body header .top-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between; }
      body header .top-row .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
        justify-content: flex-start;
        margin: 0 10px; }
        body header .top-row .search img {
          height: 36px;
          cursor: pointer; }
        body header .top-row .search .search-form {
          display: none;
          width: 380px; }
          body header .top-row .search .search-form input[type=text] {
            -ms-appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            border: none;
            border-bottom: 1px solid #634C29;
            color: #634C29;
            font-size: 20px;
            outline: none;
            width: 333px; }
            body header .top-row .search .search-form input[type=text]::placeholder {
              color: #B09C7D; }
          body header .top-row .search .search-form input[type=image] {
            margin-left: 10px;
            width: 36px; }
      body header .top-row .user-icons {
        padding: 0;
        margin: 0; }
        body header .top-row .user-icons .circle {
          display: block;
          position: absolute;
          color: #FCDFB3;
          background-color: #634C29;
          border-radius: 50%;
          height: 24px;
          width: 24px;
          top: 26px;
          right: 40px; }
        body header .top-row .user-icons a {
          margin: 0 10px;
          text-decoration: none; }
          body header .top-row .user-icons a img {
            height: 36px; }
    body header h1 {
      flex-basis: 33%;
      font-family: "Ledgewood", sans-serif;
      margin: 0;
      text-align: center;
      justify-self: center; }
    body header h1 a {
      color: #634C29;
      text-decoration: none; }
    body header .user-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 33%; }
      body header .user-icons img {
        margin: 0 10px; }
    body header nav {
      margin: 0; }
      body header nav ul {
        align-items: center;
        border-top: 1px solid #634C29;
        display: flex;
        flex-direction: row;
        height: 3rem;
        justify-content: space-around; }
        body header nav ul li {
          display: flex; }
          body header nav ul li a {
            color: #634C29;
            text-decoration: none; }
            body header nav ul li a:hover {
              color: #B09C7D; }
  body main {
    background-color: #B09C7D;
    padding: 20px; }
    body main h1 {
      color: #FCDFB3;
      font-size: 2rem;
      margin-top: 0; }
    body main button {
      width: 100%; }
    body main .product-grid {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      justify-content: flex-start;
      width: 100%; }
      body main .product-grid .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FCDFB3;
        color: #634C29;
        padding: 0 1rem;
        margin: 0 1rem;
        width: 240px; }
        body main .product-grid .product-item a {
          color: #634C29;
          text-decoration: none; }
          body main .product-grid .product-item a img {
            width: 100%; }
        body main .product-grid .product-item .title a {
          font-size: 1rem; }
        body main .product-grid .product-item .price {
          font-size: 1.2rem;
          font-weight: 900; }
        body main .product-grid .product-item button {
          margin-bottom: 1rem;
          width: 100%; }
          body main .product-grid .product-item button:hover, body main .product-grid .product-item button:focus {
            background-color: #B09C7D; }
          body main .product-grid .product-item button:focus {
            outline: 1px solid #FFFFFF; }
          body main .product-grid .product-item button:active {
            transform: scale(0.95); }
        body main .product-grid .product-item .product-form {
          width: 100%; }
          body main .product-grid .product-item .product-form input[type=submit] {
            margin-bottom: 1rem;
            width: 100%; }
            body main .product-grid .product-item .product-form input[type=submit]:hover, body main .product-grid .product-item .product-form input[type=submit]:focus {
              background-color: #B09C7D; }
            body main .product-grid .product-item .product-form input[type=submit]:focus {
              outline: 1px solid #FFFFFF; }
            body main .product-grid .product-item .product-form input[type=submit]:active {
              transform: scale(0.95); }
    body main .product-detail {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between; }
      body main .product-detail .product-detail-image {
        width: 60%;
        background-color: #FCDFB3;
        padding: 10px; }
        body main .product-detail .product-detail-image img {
          width: 100%; }
      body main .product-detail .product-detail-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        align-self: flex-start;
        padding: 10px;
        background-color: #FCDFB3;
        width: 35%; }
        body main .product-detail .product-detail-text button {
          width: 100%; }
    body main .categories {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body main .categories .category-list {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body main .categories .category-list .category-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          font-size: 1.5rem;
          justify-content: space-between;
          background-color: #FCDFB3;
          color: #634C29;
          margin: 1rem 0;
          width: 80%; }
          body main .categories .category-list .category-item .update {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-items: flex-end;
            justify-content: space-between;
            flex-basis: 90%;
            margin-right: 0.5rem; }
            body main .categories .category-list .category-item .update input[type=text] {
              font-size: 1.5rem;
              background-color: transparent;
              border: none;
              border-bottom: 3px solid #634C29;
              color: #634C29;
              outline: none;
              width: 300px; }
            body main .categories .category-list .category-item .update input[type=submit]:hover, body main .categories .category-list .category-item .update input[type=submit]:focus {
              background: #B09C7D; }
            body main .categories .category-list .category-item .update input[type=submit]:focus {
              outline: 1px solid #B09C7D;
              outline-offset: -4px; }
            body main .categories .category-list .category-item .update input[type=submit]:active {
              transform: scale(0.95); }
          body main .categories .category-list .category-item .delete {
            flex-basis: 10%;
            margin-left: 0.5rem; }
            body main .categories .category-list .category-item .delete:hover, body main .categories .category-list .category-item .delete:focus {
              background: #B09C7D; }
            body main .categories .category-list .category-item .delete:focus {
              outline: 1px solid #B09C7D;
              outline-offset: -4px; }
            body main .categories .category-list .category-item .delete:active {
              transform: scale(0.95); }
    body main .full-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FCDFB3;
      margin: auto;
      padding: 1rem;
      font-size: 1.5rem;
      justify-content: space-around;
      width: 440px;
      line-height: 2; }
      body main .full-form * {
        margin: 0.5rem 0; }
      body main .full-form fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
        width: 100%; }
        body main .full-form fieldset legend {
          border: none;
          font-size: 2rem; }
        body main .full-form fieldset select {
          -ms-appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background-color: #634C29;
          border: none;
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          color: #FCDFB3;
          cursor: pointer;
          font-size: 1.5rem;
          padding: 12px; }
          body main .full-form fieldset select:hover {
            background-color: #B09C7D; }
          body main .full-form fieldset select:focus {
            outline: none; }
        body main .full-form fieldset input, body main .full-form fieldset label {
          color: #634C29; }
        body main .full-form fieldset input {
          font-size: 1.5rem;
          text-align: left; }
          body main .full-form fieldset input[type=text], body main .full-form fieldset input[type=email], body main .full-form fieldset input[type=password], body main .full-form fieldset input[type=number] {
            background-color: transparent;
            border: none;
            border-bottom: 3px solid #634C29;
            outline: #634C29; }
          body main .full-form fieldset input[type=file] {
            width: 100%; }
        body main .full-form fieldset .remember {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          justify-content: space-around;
          width: 100%; }
          body main .full-form fieldset .remember .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px; }
            body main .full-form fieldset .remember .switch input {
              opacity: 0;
              width: 0;
              height: 0; }
            body main .full-form fieldset .remember .switch input:checked + .slider {
              background-color: #634C29; }
            body main .full-form fieldset .remember .switch input:focus + .slider {
              box-shadow: 0 0 1px #634C29; }
            body main .full-form fieldset .remember .switch input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px); }
            body main .full-form fieldset .remember .switch .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #B09C7D;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 34px; }
              body main .full-form fieldset .remember .switch .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: #FCDFB3;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 50%; }
      body main .full-form input[type=submit] {
        width: 100%; }
        body main .full-form input[type=submit]:hover, body main .full-form input[type=submit]:focus {
          background: #B09C7D; }
        body main .full-form input[type=submit]:focus {
          outline: 1px solid #B09C7D;
          outline-offset: -4px; }
        body main .full-form input[type=submit]:active {
          transform: scale(0.95); }
      body main .full-form small a {
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        color: #634C29;
        cursor: pointer;
        text-decoration: underline;
        font-size: 0.8rem; }
    body main .change-form small {
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
      color: #4A381E;
      font-size: 0.8rem; }
      body main .change-form small a {
        color: #FCDFB3;
        cursor: pointer;
        text-decoration: underline; }
    body main .account {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      background-color: #FCDFB3;
      width: 440px;
      margin: auto; }
  body footer {
    background-color: #FCDFB3;
    padding: 20px; }
    body footer button:hover, body footer button:focus {
      background-color: #B09C7D; }
    body footer button:focus {
      outline: 1px solid #FFFFFF; }
    body footer button:active {
      transform: scale(0.95); }
    body footer p a {
      color: #634C29;
      text-decoration: none; }

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@keyframes slideOutRight {
  from {
    -webkit-transform: translate(0);
    transform: translate(0); }
  to {
    visibility: hidden;
    display: none;
    -webkit-transform: translate(380px);
    transform: translate(380px); } }
@keyframes fadeIn {
  from {
    display: hidden;
    opacity: 0%; }
  1% {
    display: flex; }
  50% {
    opacity: 0%; }
  to {
    opacity: 100%; } }

/*# sourceMappingURL=main.css.map */
