=flexbox($property)
  display: flex
  flex-direction: $property
  justify-content: center
  align-items: center

=appear($property)
  -ms-appearance: $property
  -moz-appearance: $property
  -webkit-appearance: $property
  appearance: $property
