@import './colors.sass'
@import './fonts.sass'
@import './mixins.sass'
@import './extends.sass'

*
  box-sizing: border-box

body
  background-color: $light-color
  color: $dark-color
  font-family: $font
  margin: 0
  text-align: center

  header
    background-color: $light-color
    padding: 36px
    padding-bottom: 0

    .top-row
      +flexbox(row)
      justify-content: space-between

      form
        +flexbox(row)
        justify-content: flex-start
        align-items: flex-end
        flex-basis: 33%
        margin: 0 10px

        input

          &[type=text]
            +appear(none)
            background: transparent
            border: none
            border-bottom: 1px solid $dark-color
            color: $dark-color
            font-size: 20px
            outline: none
            widtH: 333px

            &::placeholder
              color: $primary-color

          &[type=image]
            margin-left: 10px
            width: 36px

      .user-icons
        padding: 0
        margin: 0

        a
          margin: 0 10px
          text-decoration: none

          img
            height: 36px

    h1
      flex-basis: 33%
      font-family: $heading-font
      margin: 0
      text-align: center
      justify-self: center

    h1 a
      color: $dark-color
      text-decoration: none

    .user-icons
      +flexbox(row)
      justify-content: flex-end
      flex-basis: 33%

      img
        margin: 0 10px

    nav
      margin: 0

      ul
        align-items: center
        border-top: 1px solid $dark-color
        display: flex
        flex-direction: row
        height: 3rem
        justify-content: space-around

        li
          display: flex

          a
            color: $dark-color
            text-decoration: none


            &:hover
              color: $primary-color

  main
    background-color: $primary-color
    padding: 20px

    h1
      color: $light-color
      font-size: 2rem
      margin-top: 0

    .product-grid
      align-items: center
      display: flex
      flex-direction: row
      flex-wrap: wrap
      height: 100%
      justify-content: flex-start
      width: 100%

      .product-item
        +flexbox(column)
        background-color: $light-color
        color: $dark-color
        padding: 0 1rem
        margin: 0 1rem
        width: 240px

        a
          color: $dark-color
          text-decoration: none

          img
            width: 100%

        .title

          a
            font-size: 1rem

        .price
          font-size: 1.2rem
          font-weight: 900

        button
          @extend %btn
          margin-bottom: 1rem
          width: 100%

          &:hover, &:focus
            background-color: $primary-color

          &:focus
            outline: 1px solid $white

          &:active
            transform: scale(0.95)

    .product-detail
      +flexbox(row)
      justify-content: space-between

      .product-detail-image
        width: 60%
        background-color: $light-color
        padding: 10px

        img
          width: 100%

      .product-detail-text
        +flexbox(column)
        align-items: flex-start
        align-self: flex-start
        padding: 10px
        background-color: $light-color
        width: 35%

    form
      background-color: $light-color
      margin: auto
      display: flex
      flex-direction: column
      font-size: 1.5rem
      justify-content: space-around
      align-items: center
      width: 500px
      height: 500px
      line-height: 2
      text-align: left

      input, label
        width: 80%
        color: $dark-color

      input
        width: 70%
        margin-left: 1rem

        &[type=text]
          background-color: transparent
          border: none
          border-bottom: 3px solid $dark-color
          outline: $dark-color

        &[type=submit]
          +appear(none)
          padding: 1rem 2rem
          width: 80%
          display: inline-block
          border: none
          margin: 0
          text-decoration: none
          background: $dark-color
          color: $light-color
          font-family: sans-serif
          font-size: 1rem
          cursor: pointer
          text-align: center
          transition: background 150ms ease-in-out, transform 50ms ease

          &:hover, &:focus
            background: $primary-color

          &:focus
            outline: 1px solid $primary-color
            outline-offset: -4px

          &:active
            transform: scale(0.95)

        &[type="file"]
          z-index: 0
          // display: none

  footer
    background-color: $light-color
    padding: 20px

    button
      @extend %btn

      &:hover, &:focus
        background-color: $primary-color

      &:focus
        outline: 1px solid $white

      &:active
        transform: scale(0.95)

    p

      a
        color: $dark-color
        text-decoration: none
