{% extends "base.html" %}
{% block content %}

<div class="account">
  <div class="account-profile">
    <img
      src="{{ url_for('static', filename='profile-images/' + current_user.image) }}"
      alt="{{ current_user.username }}"
    >
    <h2>{{ current_user.username }}</h2>
    <p>{{ current_user.email }}</p>
    {% if current_user.is_employee or current_user.is_admin %}
      <a href="{{ url_for('admin.home') }}"><button>Go To Admin</button></a>
    {% endif %}
    <a href="{{ url_for('users.logout') }}"><button>Log Out</button></a>
  </div>

  <form class="full-form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>{{ title }}</legend>
      {{ form.username.label }}
      {% if form.username.errors %}
        {{ form.username(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.username }}
      {% endif %}
      {{ form.email.label }}
      {% if form.email.errors %}
        {{ form.email(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.email }}
      {% endif %}
      {{ form.image.label }}
      {{ form.image }}
      {% if form.image.errors %}
        {% for error in form.image.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </fieldset>
    <div>
      {{ form.submit }}
    </div>
  </form>
</div>

{% endblock %}
