{% extends "base-admin.html" %}
{% block title %}Add Category - Admin{% endblock %}

{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  <fieldset>
    <div>
      {{ form.name.label }}
      {% if form.name.errors %}
        {{ form.name(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.name }}
      {% endif %}
    </div>
  </fieldset>
  <div>
    {{ form.submit }}
  </div>
</form>
{% endblock %}
