<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <script type="text/javascript" charset="utf-8" src="/static/main.js" defer></script>
  {% if title %}
    <title>Woody's Lumber Yard - {{ title }}</title>
  {% else %}
    <title>Woody's Lumber Yard</title>
  {% endif %}
  {% endblock %}
</head>

<body>

  <header>
    <div class="top-row">
      <div class="search">
        <img class="search-btn" src="/static/assets/search.svg" alt="Search Button">
        <form class="search-form" action="/"  method="POST">
          <input type="text" name="name" value="" placeholder="What can we help you find today?">
          <input class="search-submit" type="image" src="{{ url_for('static', filename='assets/search.svg') }}" alt="Submit Form" />
        </form>
      </div>
      <h1><a href="{{ url_for('main.home') }}">Woody's Lumber Yard</a></h1>
      <div class="user-icons">
        <a href="{{ url_for('users.account') }}">
          <img src="{{ url_for('static', filename='assets/user.svg') }}" alt="My Account">
        </a>
        <a href="{{ url_for('main.cart') }}">
          <img class="cart" src="{{ url_for('static', filename='assets/shopping-cart.svg') }}" alt="Shopping Cart">
          <div class="circle">1</div>
        </a>
      </div>
    </div>
    {% if categories %}
    <nav>
      <ul>
        {% for category in categories %}
        <li><a href="/category/{{ category.link }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    {% block nav %}{% endblock %}
  </header>

  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

  <footer>
    <button type="button" name="admin" id="admin-button">Admin</button>
    <p>&copy; Copyright 2020 by <a href="/">Woody's Lumber Yard</a>.</p>
  </footer>

</body>

</html>
