{% extends "base.html" %}
{% block head %}
{{ super() }}

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/cart.js') }}" defer></script>

{% endblock %}
{% block content %}

<h1>Cart</h1>
<div class="cart-products">
  <div class="cart-legend">
    <p>Image</p>
    <p>Name</p>
    <p>Piece Price</p>
    <p>Quantity</p>
    <p>Total</p>
    <p>Remove Item</p>
  </div>
  {% for product in cart.products %}
  <div class="cart-product" id="{{ product.id }}">
    <img src="{{ url_for('static', filename='product-images/' + product.image) }}" alt="{{ product.name }}">
    <p>{{ product.name }}</p>
    <p>$<span class="price">{{ product.price }}</span></p>
    <p class="quantity-in-cart">{{ product.quantity_in_cart }}</p>
    <p>${{ product.quantity_in_cart * product.price}}</p>
    <button type="button" onclick="removeFromCart({{ product.id }})">Remove Item</button>
  </div>
  {% endfor %}
  <div class="totals">
    <p></p>
    <p></p>
    <p></p>
    <p>Total Items: <span id="total-products">{{ cart.quantity }}</span></p>
    <p>Subtotal: $<span id="subtotal">{{ cart.subtotal }}</span></p>
    <p></p>
  </div>
</div>
<div class="cart-actions">
  <button type="button" class="clear-cart" onclick="clearCart()">Clear Cart</button>
  <a class="checkout" href="{{ url_for('main.checkout_cart') }}"><button type="button">Checkout</button></a>
</div>

{% endblock %}
