{% extends "base.html" %}
{% if title %}
{% block title %}{{ title }}{% endblock %}
{% endif %}
{% block head %}
{{ super() }}

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

{% endblock %}

{% block content %}

{% if title %}
<h1>{{ title }}</h1>
{% endif %}

{% if search_message %}
<h1>Search Results for: {{ search_message }}</h1>
{% endif %}

<div class="products">
  <div class="product-grid">
    {% for product in products %}
    <div class="product-item">
      <p>
        <a href="/products/{{ product.id }}">
          <img src="{{ url_for('static', filename='product-images/' + product.image) }}" alt="{{ product.name }}">
        </a>
      </p>
      <p class="name">
        <a href="/products/{{ product.id }}">{{ product.name }}</a>
      </p>
      <p class="price">${{ product.price }}</p>
      <button type="button" name="add-to-cart" onclick="addToCart({{ product.id }})">Add To Cart</button>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
