{% extends "base.html" %}
{% if title %}
{% block title %}{{ title }}{% endblock %}
{% endif %}

{% block content %}

{% if title %}
<h1>{{ title }}</h1>
{% endif %}

{% if search_message %}
<h1>Search Results for: {{ search_message }}</h1>
{% endif %}

{% if message %}
<h3>{{ message }}</h3>
{% endif %}


<div class="product-grid">
  {% for product in products %}
  <div class="product-item">
    <p>
      <a href="/products/{{ product.id }}">
        <img src="../{{ product.img }}" alt="{{ product.name }}">
      </a>
    </p>
    <p class="name">
      <a href="/products/{{ product.id }}">{{ product.name }}</a>
    </p>
    <p class="price">${{ product.price }}</p>
    <button type="button" name="add-to-cart">Add To Cart</button>
  </div>
  {% endfor %}
</div>
{% endblock %}
