{% extends "base.html" %}
{% block content %}

<div class="login">
  <form class="full-form" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Login</legend>
      {{ form.email.label }}
      {% if form.email.errors %}
        {{ form.email(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.email }}
      {% endif %}
      {{ form.password.label }}
      {% if form.password.errors %}
        {{ form.password(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.password }}
      {% endif %}
      <div class="remember">
        {{ form.remember.label }}
        <div class="switch">
          {{ form.remember }}
          <span class="slider"></span>
        </div>
      </div>
    </fieldset>
    <div>
      {{ form.submit }}
    </div>
    <small><a href="{{ url_for('users.reset_request') }}">Forgot Password?</a></small>
  </form>
  <div class="change-form">
    <small>
      Need an account? <a href="{{ url_for('users.register') }}">Sign Up</a>
    </small>
  </div>
</div>

{% endblock %}
