{% extends "base.html" %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
  <div class="product-detail">
    <div class="product-detail-image">
      <img src="{{ url_for('static', filename='product-images/' + product.image) }}" alt="{{ product.name }}">
    </div>
    <div class="product-detail-text">
      <h2>{{ product.category }}</h2>
      <h3>{{ product.name }}</h3>
      <h4>${{ product.price }}</h4>
      <button type="button" name="add-to-cart">Add To Cart</button>
    </div>
  </div>
{% endblock %}
