ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-nav {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: rgb(99, 76, 41);
}

.admin-nav > button {
  width: 80%
}
