{% extends "base-admin.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
{% if message %}
<h3>{{ message }}</h3>
{% endif %}

<div class="product-grid">
  {% for product in products %}
  <div class="product-item">
    <p>
      <a href="/products/{{ product.id }}">
        <img src="../{{ product.img }}" alt="{{ product.name }}">
      </a>
    </p>
    <p>
      <a href="/products/{{ product.id }}">{{ product.name }}</a>
    </p>
    <p class="price">${{ product.price }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
