{% extends "base.html" %}
{% block title %}Admin - Products{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/admin.css">
    <link rel="stylesheet" href="/static/product.css">
{% endblock %}
{% block content %}
    <h1>Admin Products</h1>
    <div class="product-grid">
      {% for product in products %}
      <div class="product-item">
        <p><img src="../{{ product.img }}" alt="{{ product.title }}"></p>
        <p>{{ product.title }}</p>
        <p>${{ product.price }}</p>
      </div>
      {% endfor %}
    </div>
{% endblock %}
