{% extends "base-admin.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
    <h1>Add Product</h1>
    <form action="/admin" method="POST" enctype="multipart/form-data">
      <label>
        Title
      <input type="text" name="title" required>
      </label>
      <label>
        Price
        $<input type="text" name="price" required>
      </label>
      <label for="img" class="button">Upload Image</label>
      <input type="file" name="img" id="img" accept="image/*" required>
      <input type="submit" name="button" value="Add Product">
    </form>
{% endblock %}
