{% extends "base-admin.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
    <h1>Add Product</h1>
    <form action="/admin" method="POST" enctype="multipart/form-data">
      <label>
        Name
      <input type="text" name="name" required>
      </label>
      <select name="category">
        <option value="" selected disabled hidden>Choose a product category &nbsp;&nbsp;&nbsp;&nbsp; ▼</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <label>
        Price
        <input type="number" name="price" min="0.01" step="0.01" placeholder="$" required>
      </label>
      <label for="img" class="button">Upload Image</label>
      <input type="file" name="img" id="img" accept="image/*" required>
      <input type="submit" name="button" value="Add Product">
    </form>
{% endblock %}
