<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %} - Woody's Lumber Yard</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <h1><a href="/">Woody's Lumber Yard</a></h1>
      <ul>
        <li><a href="/boards">Boards</a></li>
        <li><a href="/plywood">Plywood</a></li>
        <li><a href="/pressure-treated">Pressure Treated</a></li>
        <li><a href="/dimensional_lumber">Dimensional Lumber</a></li>
        <li><a href="/decking">Decking</a></li>
        <li><a href="/fencing">Fencing</a></li>
        <li><a href="/paneling">Paneling</a></li>
        <li><a href="/lattice">Lattice</a></li>
      </ul>
    </nav>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <footer>
      {% block footer %}
        &copy; Copyright 2020 by <a href="/">Woody's Lumber Yard</a>.
      {% endblock %}
    </footer>
  </body>
</html>
