<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script type="text/javascript" charset="utf-8" src="/static/main.js" defer></script>
  <title>{% block title %}{% endblock %} - Woody's Lumber Yard</title>
  {% endblock %}
</head>

<body>

  <header>
    <div class="top-row">
      <div class="search">
        <img class="search-btn" src="/static/assets/search.svg" alt="Search Button">
        <form class="search-form" method="POST">
          <input type="text" name="name" value="" placeholder="What can we help you find today?">
          <input class="search-submit" type="image" src="/static/assets/search.svg" alt="Submit Form" />
        </form>
      </div>
      <h1><a href="/">Woody's Lumber Yard</a></h1>
      <div class="user-icons">
        <a href="/account">
          <img src="/static/assets/user.svg" alt="My Account">
        </a>
        <a href="/cart">
          <img class="cart" src="/static/assets/shopping-cart.svg" alt="Shopping Cart">
          <div class="circle">1</div>
        </a>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/category/boards">Boards</a></li>
        <li><a href="/category/plywood">Plywood</a></li>
        <li><a href="/category/pressure-treated">Pressure Treated</a></li>
        <li><a href="/category/dimensional-lumber">Dimensional Lumber</a></li>
        <li><a href="/category/decking">Decking</a></li>
        <li><a href="/category/fencing">Fencing</a></li>
        <li><a href="/category/paneling">Paneling</a></li>
        <li><a href="/category/lattice">Lattice</a></li>
      </ul>
    </nav>
    {% block nav %}{% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <button type="button" name="admin" id="admin-button">Admin</button>
    <p>&copy; Copyright 2020 by <a href="/">Woody's Lumber Yard</a>.</p>
  </footer>

</body>

</html>
