<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>{% block title %}{% endblock %} - Woody's Lumber Yard</title>
  {% endblock %}
</head>

<body>

  <header>
    <div class="top-row">
      <form method="POST">
        <input type="text" name="title" value="" placeholder="What can we help you find today?">
        <input type="image" src="/static/assets/search.svg" alt="Submit Form" />
      </form>
      <h1><a href="/">Woody's Lumber Yard</a></h1>
      <div class="user-icons">
        <a href="/profile">
          <img src="/static/assets/user.svg" alt="My Account">
        </a>
        <a href="/cart">
          <img src="/static/assets/shopping-cart.svg" alt="Shopping Cart">
        </a>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/boards">Boards</a></li>
        <li><a href="/plywood">Plywood</a></li>
        <li><a href="/pressure-treated">Pressure Treated</a></li>
        <li><a href="/dimensional-lumber">Dimensional Lumber</a></li>
        <li><a href="/decking">Decking</a></li>
        <li><a href="/fencing">Fencing</a></li>
        <li><a href="/paneling">Paneling</a></li>
        <li><a href="/lattice">Lattice</a></li>
      </ul>
    </nav>
    {% block nav %}{% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <button type="button" name="admin" id="admin-button">Admin</button>
    <p>&copy; Copyright 2020 by <a href="/">Woody's Lumber Yard</a>.</p>
  </footer>

</body>

</html>
