{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/home.js" charset="utf-8" defer></script>
{% endblock %}

{% block content %}
{% if message %}
<h3>Search Results for: {{ message }}</h3>
{% endif %}
<div class="product-grid">
  {% for product in products %}
  <div class="product-item">
    <p>
      <a href="/products/{{ product.id }}">
        <img src="../{{ product.img }}" alt="{{ product.title }}">
      </a>
    </p>
    <p>
      <a href="/products/{{ product.id }}">{{ product.title }}</a>
    </p>
    <p>${{ product.price }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
