{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/login.js" defer></script>
{% endblock %}

{% block content %}

<div class="login">
  <h1>Log In</h1>
  {% if message %}
    {{ message }}
  {% endif %}
  <form action="/account" method="POST">
    <label>
      Username
      <input type="text" name="username" required>
    </label>
    <label>
      Password
      <input type="password" name="password" required>
    </label>
    <input type="submit" name="submit" value="Log In">
  </form>
  <small>Need an account? <a id="goToSignup">Sign Up</a></small>
</div>

<div class="signup">
  <h1>Sign Up</h1>
  {% if message %}
    {{ message }}
  {% endif %}
  <form action="/account" method="POST">
    <label>
      Username
      <input type="text" name="username" required>
    </label>
    <label>
      Email
      <input type="email" name="email" required>
    </label>
    <label>
      Password
      <input type="password" name="password" required>
    </label>
    <input type="submit" name="submit" value="Sign Up">
  </form>
  <small>Already have an account? <a id="goToLogin">Log In</a></small>
</div>

{% endblock %}
