{% extends "admin/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<form class="full-form" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>{{ title }}</legend>
    {{ form.user.label }}
    {% if form.user.errors %}
      {{ form.user(class="is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.user.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% else %}
      {{ form.user }}
    {% endif %}
  </fieldset>
  <div>
    {{ form.submit }}
  </div>
</form>

{% endblock %}
