{% extends "admin/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='admins.js') }}" defer></script>

{% endblock %}

{% block content %}

<div class="roles">
  <div class="admins">
    <h1>Admins</h1>
    {% for admin in admins %}
    <div class="admin">
      <p>{{ admin.email }} ("{{ admin.username }}")</p>
      <button type="button" onclick="revoke({{ admin.id }})">Revoke Admin Permissions</button>
    </div>
    {% endfor %}
  </div>

  <div class="users">
    <h1>Users</h1>
    {% for user in users %}
    <div class="user">
      <p>{{ user.email }} ("{{ user.username }}")</p>
      <button type="button" onclick="grant({{ user.id }})">Grant Admin Permissions</button>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
