{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}

<div class="product-grid">
  {% for product in products %}
  <div class="product-item">
    <p>
      <a href="/products/{{ product.id }}">
        <img src="{{ url_for('static', filename='product-images/' + product.image) }}" alt="{{ product.name }}">
      </a>
    </p>
    <p>
      <a href="/products/{{ product.id }}">{{ product.name }}</a>
    </p>
    <p class="price">${{ product.price }}</p>
    <form class="product-form" action="{{ url_for('admin.update_product', product_id=product.id) }}" method="POST">
      <input type="submit" value="Update">
    </form>
    <form class="product-form" action="{{ url_for('admin.delete_product', product_id=product.id) }}" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>
  {% endfor %}
</div>

{% endblock %}
