{% extends "base.html" %}

{% block title %}
{% if current_user.is_superadmin %}
Super Admin
{% else %}
Admin
{% endif %}
{% endblock %}

{% block nav %}
<h1>
  {% if current_user.is_superadmin %}
  Super Admin
  {% else %}
  Admin
  {% endif %}
</h1>
<nav>
  <ul>
    <li><a href="{{ url_for('admin.show_products') }}">Products</a></li>
    <li><a href="{{ url_for('admin.show_categories') }}">Categories</a></li>
    {% if current_user.is_superadmin %}
    <li><a href="{{ url_for('admin.show_admins') }}">Admins</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
