{% extends "admin/base.html" %}
{% block head %}
{{ super() }}

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/categories.js') }}" defer></script>

{% endblock %}

{% block content %}
<div class="categories">
  <div class="category-list">
    {% for category in categories %}
    <div class="category-item">
      <form>
        {{ update_form.hidden_tag() }}
        {% if update_form.name.errors %}
          {{ update_form.name(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in update_form.name.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ update_form.name(value=category, **{"data-id": category.id}) }}
        {% endif %}
      </form>
      <button type="button" onclick="updateCategory({{ category.id }})">Update</button>
      <button type="button" onclick="deleteCategory({{ category.id }})">Delete</button>
    </div>
    {% endfor %}
  </div>

  <form class="full-form" method="POST">
    {{ add_form.hidden_tag() }}
    <fieldset>
      <div>
        {{ add_form.name.label }}
        {% if add_form.name.errors %}
          {{ add_form.name(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in add_form.name.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ add_form.name }}
        {% endif %}
      </div>
    </fieldset>
    <div>
      {{ add_form.submit }}
    </div>
  </form>
</div>
{% endblock %}
