{% extends "admin/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/employees.js') }}" defer></script>

{% endblock %}

{% block content %}

<div class="roles">
  <div class="employees">
    <h1>Employees</h1>
    {% for employee in employees %}
    <div class="employee">
      <p>{{ employee.email }} ("{{ employee.username }}")</p>
      <button type="button" onclick="revoke({{ employee.id }})">Revoke Employee Permissions</button>
    </div>
    {% endfor %}
  </div>

  <div class="users">
    <h1>Users</h1>
    {% for user in users %}
    <div class="user">
      <p>{{ user.email }} ("{{ user.username }}")</p>
      <button type="button" onclick="grant({{ user.id }})">Grant Employee Permissions</button>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
