{% extends "admin/base.html" %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}

<div class="product-detail">
  <div class="product-detail-image">
    <img src="{{ url_for('static', filename='product-images/' + product.image) }}" alt="{{ product.name }}">
  </div>
  <div class="product-detail-text">
    <form class="full-form" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>{{ title }}</legend>
        {{ form.name.label }}
        {% if form.name.errors %}
          {{ form.name(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.name }}
        {% endif %}
        {{ form.category.label }}
        {% if form.category.errors %}
          {{ form.category(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.category.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.category }}
        {% endif %}
        {{ form.price.label }}
        {% if form.price.errors %}
          {{ form.price(class="is-invalid", step=0.01) }}
          <div class="invalid-feedback">
            {% for error in form.price.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.price(step=0.01) }}
        {% endif %}
        {{ form.quantity.label }}
        {% if form.quantity.errors %}
          {{ form.quantity(class="is-invalid", min="1", max="999") }}
          <div class="invalid-feedback">
            {% for error in form.quantity.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.quantity(min="1", max="999") }}
        {% endif %}
        {{ form.image.label }}
        {{ form.image }}
        {% if form.image.errors %}
          {% for error in form.image.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </fieldset>
      <div>
        {{ form.submit }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
